.editor {
    padding-top: 10%;
    text-align: center;
    display: flex;
}

.editor__title {
    @include font-editor;
    font-size: 26px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width:481px) {
        font-size: 42px;
        line-height: 42px;
        flex-direction: row;
    }

    @media (min-width:993px) {
        font-size: 54px;
        line-height: 54px;
    }
}

.editor__desc {
    @include font-desc;
    font-size: 14px;
    line-height: 20px;
    max-width: 861px;

    @media (min-width:481px) {
        font-size: 21px;
        line-height: 32px;
    }
}

.editor__box--btn {
    margin: 0 auto;
    max-width: 251px;
    display: flex;

    @media (max-width:480px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (min-width:481px) {
        max-width: 365px;
        flex-direction: row;
        margin-bottom: 70px;
    }
}

.editor__btn {
    display: flex;
    padding: 3px 7px;
    background-color: #F9F9F9;
    border-radius: 5px;
    border-color: #DDD;
    color: #333;
    margin-right: 3%;
    margin-top: 3%;

    &--span {
        border-radius: 5px;
        background-color: #d0d0d0;
    }
}

.editor__btn>svg {
    vertical-align: middle;
    padding-right: 5px;
}