.background {
  background-image: url(../img/backGround.png);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
.header-container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  @media (max-width: 1200px) {
    background-color: #27262a;
  }
  @media (max-width: 768px) {
    align-items: flex-end;
    padding: 0;
  }
}
header {
  display: flex;
  padding-top: 22px;
  padding-bottom: 18px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  @media (max-width: 1200px) {
    background-color: #27262a;
  }
  @media (max-width: 768px) {
    align-items: flex-end;
    padding: 0;
    background-color: rgba(0, 0, 0, 1);
  }
}
.header-wrap {
  display: flex;
  align-items: center;
  width: 95%;

  @media (max-width: 768px) {
    padding: 0px 16px 0px 16px;
    height: 103px;
    background-color: #27262a;
    justify-content: space-between;
  }
}
.logo__img {
  background-image: url(../img/Logo1.svg);
  background-size: cover;
  width: 43px;
  height: 41px;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: auto;
  @media (max-width: 768px) {
    margin-right: 0;
  }
  &:hover {
    > .logo__text {
      color: #ffffff;
    }
    > .logo__img {
      background-image: url(../img/logo-hover.svg);
    }
  }
}
.logo__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
  color: $headerTextColor;
  margin-left: 17px;
}
.nav__list {
  @include flex-center;
  list-style: none;
  padding: 0;
  margin-left: auto;
  position: relative;

  @media (min-width: 1200px) {
    left: 163px;
    bottom: 40px;
  }

  @media (max-width: 768px) {
    display: none;
    position: absolute;
    top: 103px;
    right: 0;
    flex-direction: column;
    padding: 0;
    margin: 0 15px 0 0;
    background-color: #333333;
   
  }
   &--active {
      display: flex;
    }
}
.nav__item {
  @include flex-center;
  &:hover > .nav__link {
    color: #ffffff;
  }
  @media (max-width: 768px) {
    height: 88px;
    width: 292px;
    background-color: #333333;
    border-bottom: 3px solid #3b3b3b;
    border-left: 8px solid rgba($color: #000000, $alpha: 0);
    border-right: 8px solid rgba($color: #000000, $alpha: 0);
    // padding-left: 29px;
    &:hover::before {
      content: "";
      display: block;
      width: 3px;
      height: 53px;
      background-color: $headerTextColor;
    }
    &:hover > .nav__link {
      color: $headerTextColor;
    }
  }
}
.nav__link {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: $headerTextColor;
  margin-right: auto;
  margin-left: 26px;
  @media (max-width: 768px) {
    color: #ffffff;
  }
}
.burger {
  position: relative;
  padding: 0;
  width: 28px;
  height: 37px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  @media (min-width: 768px) {
    display: none;
  }
}
.burger__line1 {
  margin-left: 11px;
  width: 15px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  &--active {
    display: none;
  }
}
.burger__line2 {
  width: 2px;
  height: 23px;
  margin: 0;
  width: 26px;
  height: 3px;
  background: #ffffff;
  border-radius: 5px;
  &--active {
    position: absolute;
    top: 6.5px;
    width: 2px;
    height: 23px;
    margin: 0;
    background-color: #ffffff;
    transform-origin: center;
    transform: rotate(-45deg);
  }
}
.burger__line3 {
  width: 26px;
  height: 3px;
  background: #ffffff;
  border-radius: 5px;
  &--active {
    position: absolute;
    top: 6.5px;
    width: 2px;
    height: 23px;
    margin: 0;
    background-color: #ffffff;
    transform-origin: center;
    transform: rotate(45deg);
  }
}
