body {
  overflow-x: hidden;
  font-family: Montserrat;
  font-style: normal;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  object-fit: cover;
  max-width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 320px;
}
.section-button {
  text-align: center;
  text-decoration: none;
  padding: 11px 40px;
  white-space: nowrap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff;
  background-color: $headerTextColor;
  border-radius: 40px;
  border: 1px solid rgba($color: #000000, $alpha: 0.0);
  &:hover {
    color: $headerTextColor;
    background-color: #fff;
    border: 1px solid $headerTextColor;
  }
  &--biger {
    padding: 23px 61px;
    font-weight: 700;
    font-size: 21px;
    line-height: 22px;
    position: relative;
    bottom: -50px;
  }
}
.editor{  
  padding-top: 10%;
  text-align: center;
  display: flex;
}
.editor__title {
  @include font-editor;
  font-size: 26px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;

    @media (min-width:481px) {
      font-size: 42px;
      line-height: 42px;
      flex-direction: row;
    }
    
    @media (min-width:993px) {
      font-size: 54px;
      line-height: 54px;
    }
}
.editor__desc{
  @include font-desc;
  font-size: 14px;
  line-height: 20px;
  max-width: 861px;
  
  @media (min-width:481px) {
    font-size: 21px;
    line-height: 32px;
  }
}
.editor__box--btn{
  margin: 0 auto;
  max-width: 251px;
  display: flex;

@media (max-width:480px) {
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width:481px) {
    max-width: 365px;
    flex-direction: row;
    margin-bottom: 70px;
  }
}
.editor__btn {
  display: flex;
  padding: 3px 7px;
  background-color: #F9F9F9;
  border-radius: 5px;
  border-color: #DDD;
  color: #333;
  margin-right: 3%;
  margin-top: 3%;

  &--span {
    border-radius: 5px;
    background-color: #d0d0d0;
  }
}

.editor__btn>svg {
  vertical-align: middle;
  padding-right: 5px;
}
.features {
  padding-top: 2%;
  padding-bottom: 33px;
  @media (min-width:993px) {
    background: #F4F4F4;
  }
}
.features>div{
  @media (min-width:993px) {
      text-align: left;
      display: grid;
      column-gap: 20px;
      grid-template-areas: "features title"
        "feature screen"
        "feature screen"
        "feature screen";
      grid-template-columns: auto 700px
    }
}

.features__title {

  @include features-title;
  font-size: 32px;
  line-height: 38px;

  @media (min-width:481px) {
    font-size: 26px;
    line-height: 40px;
  }

  @media (min-width:993px) {
    font-size: 36px;
    line-height: 50px;
    grid-area: title;
    margin: 0;
  }
}

.features__list {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width:993px) {
      grid-area: feature;
    }
}
.features__grid{
@media (min-width:481px) {
    display: grid;
    grid-template-columns: 111px 563px;
    gap: 20px;
  }
}
.features__item {
  @media (min-width:993px) {
    display:flex;
    grid-area: feature;
  }
  margin-top: 2%;
}
.features__subtitle {
  @include list-title;
}
.features__desc {
  @include features-desc;
}

.screen{
    @media (max-width:480px) {
        width: 300px;
      }
      @media (min-width:481px) {
        padding: 0;
        margin: 0;
        width: 700px;
      }
       @media (min-width:993px) {
         grid-area: screen;
         padding-top: 20px;
        }
}


